.WeatherForecast {
  text-align: center;
  margin-top: 40px;
}

.WeatherForecast p {
  font-size: 20px;
}

.WeatherForecast img {
  width: 70px;
}

.WeatherForecast-temperatures {
  font-size: 18px;
}

.WeatherForecast-temperature-low {
  opacity: 0.6;
  margin-right: 5px;
}

@media (max-width: 575px) {
  .WeatherForecast {
    margin-top: 15px;
  }
  .WeatherForecast .WeatherForecastDay {
    margin-top: 25px;
  }
}
